<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <!-- Change the service name if your Oracle PDB is not XEPDB1. -->
        <add name="OracleDb"
             connectionString="User Id=purchasing_user;Password=0000;Data Source=localhost:1521/XEPDB1;"
             providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
